<div id="wrapper" class="wrapper bg-ash">
    <!-- Header Menu Area Start Here -->

    <!-- Header Menu Area End Here -->
    <!-- Page Area Start Here -->
    <div class="dashboard-page-one">
        <div class="dashboard-content-one">
            <!-- Breadcubs Area Start Here -->
            <div class="breadcrumbs-area">
                <h3>Students</h3>
                <a routerLink="/reactive-form/list" class="modal-trigger" data-toggle="modal" data-target="#sign-up">
                    Student List
                </a>
            </div>
            <!-- Breadcubs Area End Here -->
            <!-- Admit Form Area Start Here -->
            <div class="card height-auto">
                <div class="card-body">
                    <div class="heading-layout1">
                        <div class="item-title">
                            <h3>{{selectedStudentId ? 'Update Student' : 'Create New Student'}} Record</h3>
                        </div>
                    </div>
                    <form class="new-added-form" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
                        <div class="row">
                            <div class="col-xl-3 col-lg-6 col-12 form-group">
                                <label>First Name *</label>
                                <input type="text" placeholder="Enter First Name" class="form-control"
                                    formControlName="firstName">
                                <div *ngIf="submitted && formControls.firstName.errors">
                                    <span *ngIf="formControls.firstName.errors.required">First name required</span>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-12 form-group">
                                <label>Last Name *</label>
                                <input type="text" placeholder="" class="form-control" formControlName="lastName">
                            </div>
                            <div class="col-xl-3 col-lg-6 col-12 form-group">
                                <label>Parents Name *</label>
                                <input type="text" placeholder="" class="form-control" formControlName="parentName">
                            </div>
                            <div class="col-xl-3 col-lg-6 col-12 form-group">
                                <label>Date Of Birth *</label>
                                <input type="text" placeholder="dd/mm/yyyy" class="form-control air-datepicker"
                                    data-position='bottom right' formControlName="DOB">
                                <i class="far fa-calendar-alt"></i>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-12 form-group">
                                <label>Roll No.</label>
                                <input type="text" placeholder="" class="form-control" formControlName="rollNo">
                                <div *ngIf="submitted && formControls.rollNo.errors">
                                    <span *ngIf="formControls.rollNo.errors.required">Roll no. required</span>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-12 form-group">
                                <label>Blood Group *</label>
                                <input type="text" placeholder="" class="form-control" formControlName="bloodGroup">
                            </div>
                            <div class="col-xl-3 col-lg-6 col-12 form-group">
                                <label>E-Mail</label>
                                <input type="email" placeholder="" class="form-control" formControlName="email">
                                <div *ngIf="submitted && formControls.email.errors">
                                    <span *ngIf="formControls.email.errors.required">Email required</span>
                                    <span *ngIf="formControls.email.errors.email">Invalid email</span>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-12 form-group">
                                <label>Enter Class *</label>
                                <input type="text" placeholder="" class="form-control" formControlName="class">
                            </div>
                            <div class="col-xl-3 col-lg-6 col-12 form-group">
                                <label>Phone</label>
                                <input type="text" placeholder="" class="form-control" formControlName="phone">
                            </div>
                            <div class="col-12 form-group mg-t-8">
                                <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">
                                    {{selectedStudentId ? 'Update': 'Çreate'}} Record </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Admit Form Area End Here -->
        </div>
    </div>
    <!-- Page Area End Here -->
</div>